In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1174,tt0318283,30000000,15368897,Alex & Emma,Luke Wilson|Kate Hudson|Sophie Marceau|David P...,Rob Reiner,Is it love... or are they just imagining things?,Writer Alex Sheldon (Luke Wilson) must finish ...,96,Comedy|Romance,Epsilon Motion Pictures|Franchise Pictures|Esc...,6/16/2003,5.0,2003
1336,tt0360717,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,6.4,2005
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004
202,tt2106361,50000000,160602194,Into the Storm,Richard Armitage|Sarah Wayne Callies|Matt Wals...,Steven Quale,Prepare to go,The town of Silverton is in one day destroyed ...,89,Action|Thriller,New Line Cinema|Village Roadshow Pictures|Brok...,8/6/2014,5.7,2014
236,tt2319580,12700000,3430018,The Grand Seduction,Brendan Gleeson|Taylor Kitsch|Gordon Pinsent|L...,Don McKellar,The small town of Tickle Cove needed a doctor....,A small fishing village must procure a local d...,112,Comedy,Max Films Productions|Morag Loves Company,5/30/2014,6.7,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Preprocessing

In [4]:
answers = {} # create dictionary for answers

# Function to get film name and film id (imdb_id)
def get_title(row):
    return row.original_title.iloc[0] + ' (' + row.imdb_id.iloc[0] + ')'

# Function to get month name by date
def get_release_month(date):
    month = date[0:date.find('/')]
    if month == '1':
        return 'January'
    elif month == '2':
        return 'February'
    elif month == '3':
        return 'March'
    elif month == '4':
        return 'April'
    elif month == '5':
        return 'May'
    elif month == '6':
        return 'June'
    elif month == '7':
        return 'July'
    elif month == '8':
        return 'August'
    elif month == '9':
        return 'September'
    elif month == '10':
        return 'October'
    elif month == '11':
        return 'November'
    elif month == '12':
        return 'December'
    else:
        return 'ERROR'

# Function for creating datasets with splitted values by |
# Example: 1 row with value 'test1|test2' will be splitted to 2 rows with values: 'test1', 'test2'
# Dataset contains 2 columns: column 2 is imdb_id
def create_dataset_for_list_column(column):
    serie_column = data[column].str.split('|').explode()
    serie_id = data.imdb_id
    df_result = pd.DataFrame({column + '_split' : serie_column, 'imdb_id' : serie_id})
    return df_result

# Add column profit
data['profit'] = data.revenue - data.budget
# Add column release_month
data['release_month'] = data.release_date.apply(get_release_month)

data_cast = create_dataset_for_list_column('cast')
data_genres = create_dataset_for_list_column('genres')
data_director = create_dataset_for_list_column('director')
data_companies = create_dataset_for_list_column('production_companies')

In [5]:
# Example of dataset with splitted values in the column cast:
data_cast.head()

            cast_split    imdb_id
0          Chris Pratt  tt0369610
0  Bryce Dallas Howard  tt0369610
0          Irrfan Khan  tt0369610
0    Vincent D'Onofrio  tt0369610
0        Nick Robinson  tt0369610

# 1. Which movie on the list has the biggest budget?

In [6]:
max_budget = data[data.budget == data['budget'].max()]
answers['1'] = get_title(max_budget)
answers['1']

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Which movie is the longest (in minutes)?

In [7]:
max_runtime = data[data.runtime == data.runtime.max()]
answers['2'] = get_title(max_runtime)
answers['2']

'Gods and Generals (tt0279111)'

# 3. Which movie is the shortest (in minutes)?

In [8]:
min_runtime = data[data.runtime == data.runtime.min()]
answers['3'] = get_title(min_runtime)
answers['3']

'Winnie the Pooh (tt1449283)'

# 4. What is the average length of films?

In [9]:
mean_runtime = data.runtime.mean()
answers['4'] = round(mean_runtime)
answers['4']

110

# 5. What is the median length of the films?

In [10]:
median_runtime = data.runtime.median()
answers['5'] = round(median_runtime)
answers['5']

107

# 6. Which movie is the most profitable?
#### Hereinafter, "profit" refers to the difference between the revenue and the budget of the film. In the dataset it is (profit = revenue - budget)

In [11]:
max_profit = data[data.profit == data.profit.max()]
answers['6'] = get_title(max_profit)
answers['6']

'Avatar (tt0499549)'

# 7. Which movie is the most unprofitable?

In [12]:
min_profit = data[data.profit == data.profit.min()]
answers['7'] = get_title(min_profit)
answers['7']

'The Lone Ranger (tt1210819)'

# 8. How many of the movies in the dataset were revenue above budget?

In [13]:
data_profit_cnt = data[data.profit > 0].imdb_id.count()
answers['8'] = data_profit_cnt
answers['8']

1478

# 9. What was the highest grossing movie of 2008?

In [14]:
film_2008 = data[data.release_year == 2008]
max_profit_2008 = film_2008[film_2008.profit == film_2008.profit.max()]
answers['9'] = get_title(max_profit_2008)
answers['9']

'The Dark Knight (tt0468569)'

# 10. The most unprofitable movie for the period from 2012 to 2014 (inclusive)?

In [15]:
film_2012_2014 = data.query('2012 <= release_year <= 2014')
min_profit_2012_2014 = film_2012_2014[film_2012_2014.profit == film_2012_2014.profit.min()]
answers['10'] = get_title(min_profit_2012_2014)
answers['10']

'The Lone Ranger (tt1210819)'

# 11. What movie genre is the most represented in the database?

In [16]:
dataframe = data_genres.merge(data, on="imdb_id", how="inner")
answers['11'] = dataframe.groupby(['genres_split']).imdb_id.count().sort_values(ascending=False).index[0]
answers['11']

'Drama'

Option 2

In [17]:
# 1. Created a list for genres
# 2. Taken the column genres, for each row performed the actions described on steps 3 and 4:
# 3. Converted the genres value to a '|' delimited list, removed duplicates from the list
# 4. Each value from the list is added to the general list of genres
# 5. The resulting large list is converted into a dictionary by the actions described in steps 6 and 7:
# 6. Using the zip function, created a tuple of 2 lists: a list of genres and a list of the number of films in this genre
# 7. Using the dict function, we convert the tuple into a dictionary. Duplicates are removed.
# 8. Got a dictionary, choosed the pair with the maximum value

genres_list_all_filmes = []

for genres_row in data.genres:
    genres_row_upd = [*set(genres_row.split('|'))]
    for genre in genres_row_upd:
        genres_list_all_filmes.append(genre)

# Created a dict from 2 lists: list of genres, list of count of films of genre
genres_unique = dict(zip(genres_list_all_filmes,[genres_list_all_filmes.count(i) for i in genres_list_all_filmes]))

max_val = max(genres_unique.values())
max_pair = {k:v for k, v in genres_unique.items() if v == max_val}
list(max_pair)[0]

'Drama'

# 12. Movies of which genre become profitable most often?

In [18]:
# The genre with the largest number of films with profit > 0
dataframe = data_genres.merge(data, on="imdb_id", how="inner")
answers['12'] =  dataframe[dataframe.profit > 0].groupby(['genres_split']).imdb_id.count().sort_values(ascending=False).index[0]
answers['12']

'Drama'

# 13. Which director has the highest total revenue?

In [19]:
answers['13'] = data.groupby('director')['revenue'].sum().sort_values(ascending=False).index[0]
answers['13']

'Peter Jackson'

# 14. Which director has created the biggest number of Action films?

In [20]:
genres_director_action_dict = {} # dictionary with pairs {director : number of Action films}

dataframe_prep = data_genres.merge(data_director, on="imdb_id", how="outer")
dataframe = dataframe_prep.merge(data, on="imdb_id", how="inner")
res_prep = dataframe[dataframe.genres_split == 'Action'].groupby(['director_split']).genres_split.count()
answers['14'] = res_prep.sort_values(ascending=False).index[0]
answers['14']

'Robert Rodriguez'

# 15. Which actor's films were the highest grossing in 2012?

In [21]:
dataframe = data_cast.merge(data, on="imdb_id", how="inner")
res_prep = dataframe.query('release_year == 2012').groupby(['cast_split']).revenue.sum()
answers['15'] = res_prep.sort_values(ascending=False).index[0]
answers['15']

'Chris Hemsworth'

# 16. Which actor has starred in the highest number of high budget films?

In [22]:
# Films with a budget above average are taken
dataframe = data_cast.merge(data, on="imdb_id", how="inner")
res_prep = dataframe[dataframe.budget > dataframe.budget.mean()].groupby(['cast_split']).imdb_id.count()
answers['16'] = res_prep.sort_values(ascending=False).index[0]
answers['16']

'Matt Damon'

# 17. In what genre of films did Nicolas Cage most often star?

In [23]:
dataframe_prep = data_genres.merge(data_cast, on="imdb_id", how="outer")
dataframe = dataframe_prep.merge(data, on="imdb_id", how="inner")
res_prep = dataframe.query('cast_split == "Nicolas Cage"').groupby(['genres_split']).imdb_id.count()
answers['17'] = res_prep.sort_values(ascending=False).index[0]
answers['17']

'Action'

# 18. The least profitable movie of Paramount Pictures?

In [24]:
dataframe = data_companies.merge(data, on="imdb_id", how="inner")
paramount = dataframe[dataframe.production_companies_split == 'Paramount Pictures']
res = paramount[paramount.profit == paramount.profit.min()]
answers['18'] = get_title(res)
answers['18']

'K-19: The Widowmaker (tt0267626)'

# 19. What year was the most successful in terms of total revenue?

In [25]:
answers['19'] = data.groupby(['release_year']).revenue.sum().sort_values(ascending=False).index[0]
answers['19']

2015

# 20. What is the most profitable year for Warner Bros?

In [26]:
dataframe = data_companies.merge(data, on="imdb_id", how="inner")
warnerbros = dataframe[dataframe.production_companies_split.str.contains('Warner Bros')]
answers['20'] = warnerbros.groupby(['release_year']).profit.sum().sort_values(ascending=False).index[0]
answers['20']

2014

# 21. Of all the years summarily, which month was the most fruitful in terms of movie release?

In [27]:
answers['21'] = data.groupby(['release_month']).imdb_id.count().sort_values(ascending=False).index[0]
answers['21']

'September'

# 22. How many films were released in total in the summer? (for June, July, August)

In [28]:
answers['22'] = data.query('release_month in ("June","July","August")').imdb_id.count()
answers['22']

450

# 23. For which director is winter the most productive season?

In [29]:
# Director who released the most films in winter
dataframe = data_director.merge(data, on="imdb_id", how="inner")
res_prep = dataframe.query('release_month in ("December","January","February")').groupby(['director_split']).imdb_id.count()
answers['23'] = res_prep.sort_values(ascending=False).index[0]
answers['23']

'Peter Jackson'

In [30]:
# How many directors have released more films in winter than at other times of the year?

# Pivot table: number of films for each director released in each month
dir_mnth_df = dataframe.pivot_table(
columns='release_month',
index='director_split',
values='imdb_id',
aggfunc='count',
fill_value=0
)

# Let's calculate how many directors have more films released in winter than in any other season
dir_mnth_df_s = pd.DataFrame()
dir_mnth_df_s['Winter'] = dir_mnth_df.December + dir_mnth_df.January + dir_mnth_df.February
dir_mnth_df_s['Spring'] = dir_mnth_df.March + dir_mnth_df.April + dir_mnth_df.May
dir_mnth_df_s['Summer'] = dir_mnth_df.June + dir_mnth_df.July + dir_mnth_df.August
dir_mnth_df_s['Autumn'] = dir_mnth_df.September + dir_mnth_df.October + dir_mnth_df.November
result = dir_mnth_df_s.query('(Winter > Spring) & (Winter > Summer) & (Winter > Autumn)').Winter.count()
result

171

# 24. Which studio gives the longest titles to their movies by character count?

In [31]:
dataframe = data_companies.merge(data, on='imdb_id', how='inner')
dataframe['mean_cnt_title'] = dataframe.original_title.str.len()
result = dataframe.groupby(['production_companies_split']).mean_cnt_title.mean()
answers['24'] = result.sort_values(ascending=False).index[0]
answers['24']

'Four By Two Productions'

# 25. Which studio's film descriptions have the longest average word count?

In [32]:
dataframe = data_companies.merge(data, on='imdb_id', how='inner')
dataframe['mean_cnt_overview'] = dataframe.overview.str.len()
result = dataframe.groupby(['production_companies_split']).mean_cnt_overview.mean()
answers['25'] = result.sort_values(ascending=False).index[0]
answers['25']

'Midnight Picture Show'

# 26. What films are in the top 0.1 percent by vote average?

In [33]:
qnt999 = data.vote_average.quantile(0.999)
answers['26'] = data[data.vote_average >= qnt999].original_title.tolist()
answers['26']

['Inside Out', 'Room', 'Interstellar', 'The Imitation Game', 'The Dark Knight']

# 27. Which actors most often star in the same movie together?

In [34]:
df = data_cast.merge(data_cast, on='imdb_id', how='outer')
df = df[df.cast_split_x != df.cast_split_y]
df['pair'] = df.apply(lambda x: min(x.cast_split_x,x.cast_split_y) + ' & ' + max(x.cast_split_x,x.cast_split_y), axis=1)
groupped = pd.DataFrame(df.groupby(['pair']).pair.count().sort_values(ascending=False))
answers['27'] = groupped[groupped.pair == groupped.pair.max()].pair.index.tolist()
answers['27']

['Emma Watson & Rupert Grint',
 'Daniel Radcliffe & Emma Watson',
 'Daniel Radcliffe & Rupert Grint']

# Submission

In [35]:
# See all the answers to the questions
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out',
  'Room',
  'Interstellar',
  'The Imitation Game',
  'The Dark Knight'],
 '27': ['Emma Watson & Rupert Grint',
  'Daniel Radcliffe & Emma Watson',
  'Daniel Radcliffe & Rupert Grint']}